<h2>test</h2>

<!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree> -->
<hr />
<button (click)="mode = !mode">click</button>
<hr />
{{ loading }}
<div *ngFor="let colorItem of predefinedColorsList">
  <input
    [disabled]="loading"
    (change)="handleCheckboxChange()"
    [(ngModel)]="colorItem.selected"
    class="form-check-input"
    type="checkbox"
    value=""
    id="flexCheckDefault"
  />
  <label
    class="form-check-label"
    for="flexCheckDefault"
    [ngStyle]="{ 'background-color': colorItem.color }"
  >
    {{ colorItem.color }}
  </label>
</div>
<hr />
{{ flatItems.length }}
<hr />

<div class="container">
  <div class="d-flex justify-content-center align-items-center">
    <div #mykonva></div>
  </div>
</div>

<div *ngIf="mode">
  <!-- <ng-container *ngFor="let item1 of items">
    <ng-container *ngFor="let item2 of item1.items">
      <ng-container *ngFor="let item3 of item2.items">
        <ng-container *ngFor="let item4 of item3.items">
          <div class="container">
            <div class="row">
              <div class="col">{{ item1.name }}</div>
              <div class="col">{{ item2.name }}</div>
              <div class="col">{{ item3.name }}</div>
              <div class="col">{{ item4.name }}</div>
            </div>
          </div>
        </ng-container></ng-container
      ></ng-container
    >
  </ng-container> -->
</div>

<ng-container *ngIf="!mode">
  <div *ngFor="let flatItem of flatItems; trackBy: trackByFn">
    <div class="container">
      <div class="row">
        <div
          class="col"
          [ngStyle]="{
            'background-color':
              flatItem.color && !flatItem.s2 ? flatItem.color : 'none'
          }"
        >
          {{ flatItem.s1 }}
        </div>
        <div
          class="col"
          [ngStyle]="{
            'background-color':
              flatItem.color && !flatItem.s3 ? flatItem.color : 'none'
          }"
        >
          {{ flatItem.s2 }}
        </div>
        <div
          class="col"
          [ngStyle]="{
            'background-color':
              flatItem.color && flatItem.s3 && !flatItem.s4
                ? flatItem.color
                : 'none'
          }"
        >
          {{ flatItem.s3 }}
        </div>
        <div
          class="col"
          [ngStyle]="{
            'background-color':
              flatItem.color && flatItem.s4 ? flatItem.color : 'none'
          }"
        >
          {{ flatItem.s4 }}
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- <hr>

<div *ngFor="let item of items">
  {{ item.name }}
  <div *ngFor="let item2 of item.items">
    2-> {{ item2.name }}
    <div *ngFor="let item3 of item2.items">3-> {{ item3.name }}
      <div *ngFor="let item4 of item3.items">4-> {{ item4.name }}</div>
    </div>
  </div>
</div>

 -->
